{% extends "layout.html" %}
{% block content %}
  <div class="home">
        <div class="form">
            <h1>Create HACCP</h1>
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.product_type.label }}<br>
                    {{ form.product_type(size=32, class='form-control', placeholder="Product Type") }}
                </p>
                <p>
                    {{ form.min_temperature.label }}<br>
                    {{ form.min_temperature(size=32, class='form-control', placeholder="Min Temperature") }}
                </p>
                <p>
                    {{ form.max_temperature.label }}<br>
                    {{ form.max_temperature(size=32, class='form-control', placeholder="Max Temperature") }}
                </p>
                <p>{{ form.submit(class='btn btn-primary btn-block') }}</p>
            </form>     
            {% if warn %}
                <div class="warn">
                    <p>{{ warn }}</p>
                </div>
            {% endif %}   
        </div>
        {% if response %}
            <div class="response">
            <h1>Response</h1>
            <p>{{ response }}</p>
            </div>
        {% endif %}

  </div>
{% endblock %}