<!DOCTYPE html>
<html>
  <head>
    <title>Flask app</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <header>

        <nav class="navbar navbar-default sticky">
            <div class="container-fluid">
              <img src="/static/images/Productchain_logo.png">
              <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('home') }}">ProductChain</a>
              </div>
              <ul class="nav navbar-nav">
                  <li><a href="{{ url_for('home') }}">Home</a></li>
                  <li><a href="{{ url_for('create_batch') }}">Create Batch</a></li>
                  <li><a href="{{ url_for('create_HACCP') }}">Create HACCP</a></li>
                  <li><a href="{{ url_for('transfer_batch') }}">Transfer Batch</a></li>
                  <li><a href="{{ url_for('product_story_query') }}">Query Product Story</a></li>
                  <li><a href="{{ url_for('query_temperature') }}">Query Temperature</a></li>
              </ul>
            </div>
          </nav>          

    </header>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>